html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: table;
}

body {
	display: table-cell;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: Georgia, serif;
}

form {
	display: table;
}

label {
	padding-left: 50px;
	color: #ea0075;
	font-size: 25px;
	color: #ea0075;
}

input, password {
	margin-left: 20px;
	background: #ea0075;
	border: 1px solid black;
	font-size: 20px;
	border-radius: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

h1 {
	margin-left: 100px;
	padding: 10px;
	color: #ea0075;
	font-size: 40px;
	color: #ea0075;
}

button {
	margin-top: 20px;
	margin-left: 200px;
	padding: 10px 25px 10px 25px;
	border: 1px solid black;
	color: black;
	background: #ea0075;
	font-size: 20px;
	border-radius: 25px;
}

a {
	text-decoration: none;
	margin-top: 25px;
	margin-left: 205px;
	padding: 10px 25px 10px 25px;
	border: 1px solid black;
	color: black;
	background: #ea0075;
	font-size: 20px;
	border-radius: 25px;
}